:root {
  --navy-blue: #0a0f2c;
  --gold-clr: #ae8625;

  --light-blue: #c6d3e5;
}

body {
  background-color: var(--navy-blue);
  height: 100vh;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

.gold-txt {
  color: var(--gold-clr);
}
.navy-txt {
  color: var(--navy-blue);
}
.light-blue {
  background-color: var(--light-blue);
}

.nav-item > a {
  color: var(--navy-blue);
  transition: transform 0.5s ease-in-out;
}

.nav-item > a:hover {
  color: var(--text-primary);
  transform: translateY(-6px);
}

.semi-transparent {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.btn-clr {
  background-color: transparent;
  color: var(--navy-blue);
  border: 2px solid var(--navy-blue);
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.btn-clr:hover {
  background-color: var(--navy-blue);
  color: var(--gold-clr);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgb(230, 214, 172);
}

.btn-prdct {
  background-color: transparent;
  color: var(--gold-clr);
  border: 2px solid var(--gold-clr);
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.btn-prdct:hover {
  background-color: var(--gold-clr);
  color: var(--navy-blue);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px var(--gold-clr);
}
.gold-background {
  background-color: var(--gold-clr);
}
.simple-hover {
  transition: 0.3s ease-in-out;
}
.simple-hover:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px var(--navy-blue);
}

.like-button {
  border-radius: 4px;
  padding: 2px 2px;
  border: none;
  transition: 0.3s ease-in-out;
}

.like-button:hover {
  color: var(--gold-clr);
  transform: scale(1.7);
  text-shadow: 0px 4px 10px rgb(219, 177, 69);
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}
.myorderimg {
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.cartimg {
  height: 80px;
  width: 80px;
  object-fit: cover;
}
